<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <main class="container">
        <section class="panel">
            <div>
                <img src="{{url_for('static', filename='logo.png')}}" alt="">
            </div>
            <br>
            {% block content %} {% endblock %}
        </section>
    </main>
</body>

</html>